.c-board-section-title {
    border-bottom: 1px solid #b6b6b6;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .c-board-title-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-bottom: 1px solid #1c478c;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    margin: 0px;
  }
  
  .c-board-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .c-board-section-wrapper {
    flex-direction: column;
    display: flex;
  }