.c-board-section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.c-board-title-wrapper {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  border-bottom: 1px solid #b6b6b6;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.c-board-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.c-board-section-wrapper {
  flex-direction: column;
  display: flex;
}

.c-board-location-total {
  width: 30px;
  height: 30px;
  background-color: var(--highlight);
  color: #fff;
  border-radius: 100%;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  display: flex;
}