.c-board-wrapper {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }
  
  .c-board-card {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-bottom: 1px solid #e7e7e7;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr .5fr 1fr;
    grid-auto-columns: 1fr;
    padding: 20px;
    display: grid;
  }
  
  .c-card-title {
    margin-bottom: 5px;
    font-size: 1.15rem;
    font-weight: 700;
  }
  
  .c-card-label {
    margin-bottom: 5px;
  }
  
  .c-card-details {
    font-size: 1.15rem;
    font-weight: 700;
  }

  .c-card-button {
    padding: 0.75rem 1.25rem;
    background-color: #1c478c;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    border-radius: 30px;
    text-transform: none;
  }

  .c-board-search {
    background-color: var(--bezos-blue);
    padding: 20px;
  }
  
  .c-search-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: flex;
  }
  
  .c-search-input {
    height: 60px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    flex: 1;
  }
  
  #w-node-_1bdff300-783f-00a9-dcbd-ba1fa2eda93a-af668cd5, #w-node-e4eaf054-928e-5dc5-3241-aa72798f16a5-af668cd5, #w-node-b4e775ad-5ef1-f24e-6dc2-8aa97497f205-af668cd5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  
  .button-grid-wrapper {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: end;
  }